{{ define "modules/view/index" }}
<html>
<h1>
    {{ .title }} - {{ .APP_NAME }}
</h1>

<button id="butt-click">Click</button>

<img src="/app/assets/KPJ_ICO.png" alt="KPG Image">

<script src="/app/assets/js/app.js"></script>

</html>
{{ end }}